@model IEnumerable<SalasInmobiliaria.Models.Inmueble>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Inmuebles</h1>

<p>
    <a asp-action="Create">Crear nuevo Inmueble</a>
</p>
<table class="table" id="tabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Superficie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPropietario)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ambientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Superficie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink(item.prop.ToString(), "PorPropietario", new {  id=item.prop.Id  })
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Id" title="Editar"><i class="fa-solid fa-pen"></i></a>&nbsp;
                <a asp-action="Eliminar" asp-route-id="@item.Id" title="Eliminar"><i class="fa-solid fa-trash-can"></i></a>&nbsp;
                <a asp-action="Detalles" asp-route-id="@item.Id" title="Detalles"><i class="fa-regular fa-note-sticky"></i></a>&nbsp
                <a asp-controller="Contrato" asp-action="PorInmueble" asp-route-id="@item.Id" title="Por Contrato"><i class="fa-solid fa-handshake-simple"></i></a>&nbsp
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_DataTable");}

}
